*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, p {
    margin: 8px 0 8px 0;
}

#content{
    padding: 100px 20%;
    display: grid;
    grid-template-columns: [x0] 0.3fr [x1] 1fr;
}
section {
    padding: 16px;
}